*
{
margin : 0;
padding : 0;
}


#maincontainer
{
	width: 100%;
	height: 100%;
}

.slider
{
	background-color: lightgrey; 
	width: 1000px;
	margin: auto;
	overflow: hidden;
	z-index: 0;
	position: relative;
}

.header
{
	width: 100%;
	height: 150px;
	margin: auto;
	background-color: #93c121;
	float: left;
}

.header2
{
	width: 1000px;
	height: 150px;
	margin: auto;
	text-align: center;
}

.menu
{
	width: 100%;
	height:50px;
	margin: auto;
	background-color: #622464;
	float: left;
	
}

.menu2
{
	width: 1000px;
	height:50px;
	margin: auto;
	background-color: #622464;
	margin:auto;
	z-index: 2;
	position: relative;
	
}



.content
{
	width: 100%;
	height: auto;
	float: left;
}

.content2
{
	width: 1000px;
	height: auto;
	margin:auto;
}


.content2a
{
	width: 730px;
	height: auto;
	float: left;
	font-size: 11pt;
	padding-top: 10px;
	padding-bottom :10px;
	padding-right: 10px;
	font-family: Tahoma;
}

.content2b
{
	width: 240px;
	height: auto;
	float: left;
	font-size: 11pt;
	padding: 10px;
	font-family: Tahoma;
}

.content2a p
{
	padding-left: 10px;
}

.content2b p
{
	padding-left: 10px;
}
.contentKop
{
	
	background-color: #93c121;
	padding-left: 10px;
	margin-top: -10px;
	z-index: 2;
	width: 100%;
	height: 35px;
	position: relative;
	color: White;
	font-family: Tahoma;
	line-height: 35px;
	 
}

.contactP
{
	padding-top: 20px;
}

.footer
{
	width: 100%;
	height: 40px;
	background-color: #622464;
	float: left;
}

.footer2
{
	width: 1000px;
	height:40px;
	margin:auto;
	color: white;
	text-align: center;
	line-height: 40px;
	font-family: Tahoma;
	
}


.dateStyle
{
	font-size: 8pt;
	color: #0071bc;
	padding-left: 10px;
	padding-bottom: 10px;
}


/* Dropdownmenu*/
#primary_nav_wrap ul
{
	
	list-style:none;
	position: relative;
	margin: auto;
}

#primary_nav_wrap ul a
{
	display:block;
	color:white;
	text-decoration:none;
	font-family: Tahoma;
	font-size:14px;
	line-height:50px;
	padding:0 15px;	
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;	
	z-index: 4;
	
}

#primary_nav_wrap ul li:hover
{
	background-color: #622464;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background-color: #c383cc;
	color: white;
	padding:0;
	margin-left: 0px;
	z-index: 4;
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:180px;
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px;
	color: white;
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%;
}

#primary_nav_wrap ul li:hover > ul
{
	display:block;
}

.fa
{
	font-size: 20pt;
	
	
}
	

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 7% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close, .close2,.close3,.close4,.close5,.close6,.close7,.close8,.close9 
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close,.close2,.close3,.close4,.close5,.close6,.close7,.close8,.close9:hover,
.close,.close2,.close3,.close4,.close5,.close6,.close7,.close8,.close9:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#myBtn,#myBtn2,#myBtn3,#myBtn4,#myBtn5,#myBtn6,#myBtn7,#myBtn8,#myBtn9
{
	cursor: pointer;
	padding-left: 10px;
}

h4
{
	padding-left: 10px;
}

.logo {
	width: 300px;
}

.wrap {
   overflow: hidden;
   margin: 5px;
   height: auto;
}
.box {
   float: left;
   position: relative;
   width: 20%;
   padding-bottom: 20%;
}

.boxInner:hover
{
	border: solid 2px white;
	
}

.boxInner {
   position: absolute;
   left: 10px;
   right: 10px;
   top: 10px;
   bottom: 10px;
   overflow: hidden;
}


.boxInner img {
   width: 100%;
}


.boxInner .titleBox {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   margin-bottom: -50px;
   background: #000;
   background: rgba(0, 0, 0, 0.5);
   color: #FFF;
   padding: 10px;
   text-align: center;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
}
body.no-touch .boxInner:hover .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
   margin-bottom: 0;
}
@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .box {
      width: 100%;
      padding-bottom: 100%;
   }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .box {
      width: 50%;
      padding-bottom: 50%;
   }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .box {
      width: 33.3%;
      padding-bottom: 33.3%;
   }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .box {
      width: 25%;
      padding-bottom: 25%;
   }
}

.Icon
{
	margin-left: 10px;
}
.fa-facebook-square
{
	color: #622464;
}
.fa-twitter-square
{
	color: #622464;
}
.fa-linkedin-square
{
	color: #622464;
}
.fa-instagram
{
	color: #622464;
}

#menu2
{
	display:none;
}

#animate_header
{
	display: none;
}

.animateMenu
{
	display: none;
}
	@media screen and (max-width: 800px)
	{
		.header
		{
			display: none;	
		}
		.menu
		{
			display: none;			
		}
		
		
		
		.slider
		{ 
			display: hidden;
			width: 100%;
			height: auto;
			background-color: lightgrey;
			float: left;
			z-index: -1;
		}
		
		.slider img
		{
			width: 100%;
		}
		
		.menu2
		{
			display: none;		
		}
		
		.logo
		{
			display:none;
		}
		
		.content
		{
			width: 100%;
			height: auto;
			float: left;
		}

		.content2
		{
			width: 100%;
			height: auto;
			margin:auto;
		}


		.content2a
		{
			width: 100%;
			height: auto;
			float: left;
			font-size: 11pt;
			padding: 0px;
			padding-bottom: 10px;
			padding-top: 10px;
			font-family: Tahoma;
		}

		.content2b
		{
			width: 100%;
			height: auto;
			font-size: 11pt;
			margin-right: -20px;
			padding: 0px;
			padding-bottom: 10px;
			padding-top: 10px;
			font-family: Tahoma;
		}
		
		.content2b img
		{
			padding-left: 10px;
		}
		
		.content2a p
		{
			padding-left: 10px;
		}

		.content2b p
		{
			padding-left: 10px;
			
		}
				
		#menu2
		{
			width: 100%;
	        background-color: #622464;
			color: white;
			height: 50px;
			float: left;
			display: block;
			z-index: 10;
			line-height: 50px;
			
		}
		
		.footer
		{
			width: 100%;
			height: 40px;
			background-color: #622464;
			float: left;
		}

		.footer2
		{
			width: 100%;
			height:30px;
			margin:auto;
			color: white;
			text-align: center;
			line-height: 30px;
			font-family: Tahoma;
			
		}

		
		#animate_header
		{
			height: 50px;
			line-height: 50px;
			color: white;
		}
		
		.animateMenu
		{
			width: 200px;
			background-color: #333334;
			color: white;
			height: auto;
			float: left;
			display: block;
			position: fixed;
			margin-left: -210px;
			margin-top: 50px;
			z-index: 10;
			line-height: 30px;
		}
		
		.animateMenu h4
		{
			float: left;
			font-family: arial;
			margin-left: 14px;
		}
		
		#animateUL
		{
			margin-left: 10px;
			list-style: none;
		}
		
		#animateUL a
		{
			color: white;
			text-decoration: none;
			font-family: arial;
			margin-bottom: -10px;
		}
		.fa-bars
		{
			color: white;
			padding-left: 5px;
			padding-top: 5px;
			font-size: 30pt;
		}
		
		.fa-times
		{
			color: white;
			padding-left: 5px;
			padding-top: 5px;
			font-size: 30pt;
		}
		
		
		.contentKop
		{
			
			background-color: #93c121;
			padding-left: 0px;
			margin-top: -10px;
			width: 100%;
			max-width: 800px;
			height: auto;
			color: white;
			font-family: Tahoma;
			 
		}
		
		.content2b a
		{
			padding-left: 10px;
		}
		

	}